


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.card {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #124992;
    color: white;
    width: 900px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.left {
    padding: 40px;
}

.left h1 {
    font-size: 2.5em;
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.left h2 {
    margin: 20px 0;
    font-size: 1.5em;
    font-family: 'Merriweather', serif;

}

.contact {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact p {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    
}

.contact img {
    width: 20px;
    margin-right: 10px;
}

.right {
    background-color: #124992;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 20px;
    padding-right: 6em;

}

.photo img {
    width: 250px;
    height: 250px;
    border: 10px solid rgb(212, 210, 210);
    border-radius: 50%;
    object-fit: cover;
}

 
